
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fcfcfc;
}

body{
    // background: rgb(20,1,51);
    // background: linear-gradient(90deg, rgba(20,1,51,1) 0%, rgba(47,4,117,1) 50%, rgba(20,1,51,1) 100%);
    background-color: #000000;
    width: 100%;
    height: 100vh;
    font-family: "Winky Sans", sans-serif;
}

h1{
    text-align: center;
    font-size: 56px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 18px;
}
h5{
    font-size: 16px;
}

p{
    color: gray;
}

li{
    color: white;
    font-size: 24px;
}

button{
    background-color: #222;
    padding: 8px 16px;
    border: 0;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;

    &:hover{
        scale: .98;
    }

    &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
}

input{
    background-color: #222;
    color: white;
    border: 0;
    padding: 8px;
    margin-right: 8px;
    font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
    border-radius: 10px;
}

.containerApp{
    width: 80%;
    margin: 0 auto;
    height: auto;
    min-height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;

    h1{
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 2px;
        text-shadow: 2px 2px 10px #12e0d696;
        color: #dedede;
    }

    h4{
        color: #dedede;
        text-shadow: 2px 2px 10px #12e0d696;
    }
}

.btns{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 340px;
}

.containerApp ul{
    background-color: #1a1919;
    width: 320px;
    margin: 0 auto;
    list-style: none;
    font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
    box-shadow: 0px 0px 10px #12e0d696;
    padding: 20px;
    border-radius: 20px;

    li{
        color: #dedede;
    }
}

.containerApi{
    width: 80%;
    margin: 0 auto;
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;


    .inside-containerApi{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        height: 500px;
    
        h1{
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 2px;
            text-shadow: 2px 2px 10px #12e0d696;
            color: #dedede;
        }
    
        h4{
            color: #dedede;
            text-shadow: 2px 2px 10px #12e0d696;
        }
    }
}

.containerUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
